:root{
    --color-primary: #ececec;
    --color-secundary: #fff;
    --color-ternary: #89D8FA;
    --color-cuarto: #D7F065;
    --color-quinto: #AEF7AE;
    --color-sexto: #FFFE91;
    --color-shadow: 3px 3px 5px rgba(0, 0, 0, 0.122);
}